<ion-header>
  <header-component>Products</header-component>
</ion-header>

<ion-content padding>
  <ion-input placeholder="Filter..." (input)="filter($event.target.value)"></ion-input>
  <ion-list>
    <ion-item *ngFor="let product of filteredProducts">
      <h2>{{product.name}}</h2>
      <h3>{{product.price | number : '1.2-2'}} €</h3>
      <button ion-button icon-left item-right *ngIf="!isInCart(product)" (click)="addToCart(product)">
        <ion-icon name="cart"></ion-icon>
        Add to cart
      </button>
      <button ion-button disabled icon-left item-right *ngIf="isInCart(product)">
        <ion-icon name="cart"></ion-icon>
        In the cart
      </button>
    </ion-item>
  </ion-list>
</ion-content>
