<ion-header>
  <header-component>Cart</header-component>
</ion-header>

<ion-content padding>
  <p class="cartIsEmptyText" *ngIf="!products.length">Your cart is empty!</p>
  <ion-list *ngIf="products.length">
    <ion-item *ngFor="let product of products">
      <h2>{{product.name}}</h2>
      <h3>{{product.price | number : '1.2-2'}} €</h3>
      <button ion-button color="danger" icon-left item-right (click)="removeProduct(product)">
        <ion-icon name="trash"></ion-icon>
        Remove
      </button>
    </ion-item>
    <h5>Total {{priceTotal | number : '1.2-2'}} €</h5>
  </ion-list>
</ion-content>
